CompileFlags:
  CompilationDatabase: build
Diagnostics:
  ClangTidy:
    Add:
      [
        "clang-analyzer-*",
        "performance-*",
        "bugprone-*",
        "readability-*",
        "modernize-*",
      ]
